<div class="main">
	<div class="categories">
		<div class="category" ng-repeat="category in categories" ng-click="changeCategory(category.id)">
			<span class="categoryName">{{category.name}}</span>
		</div>
	</div>
	<div class="background">
		<div class="listOfWords">
			<div class="backgroundWords">
				<div class="word" ng-repeat="word in currentCategory.words">
					<img ng-src="word.imageURL" alt="img">
					<span class="draggable wordName" style="width: 1px; z-index: 1" ng-click="readWord($event.srcElement.innerHTML)">{{word.name}}
					</span>
				</div>
			</div>
		</div>
		<div class="inputBox">
			
		</div>
		<div class="play" ng-click="playSentence()">
			PLAY
		</div>
	</div>
</div>
<!--
<div class="center">
    <h1>Main Menu</h1>
    </br></br>
    <div class="button" ng-click="redirect('word')">Start</div>
    </br>
    <div class="button" ng-click="redirect('splash')">Go to Splash</div>
    </br>
    <div class="button" ng-click="redirect('drag')">Draggable</div>
</div>-->