<div id="partialBody" class="main">
	<div class="categories">
		<div class="category" ng-repeat="category in categories" ng-click="changeCategory(category.id)">
            <img ng-src="{{category.imageURL}}" width="80" height="80">
            <span class="categoryName">{{category.name}}</span>
		</div>
	</div>
	<div class="background">
		<div class="listOfWords">
			<div class="backgroundWords">
				<div class="word" ng-repeat="word in currentCategory.words" data-ng-init="setDraggable()" style="background-image: url('{{word.imageURL}}')">
                    <!--<img ng-src="{{word.imageURL}}" width="130" height="130" style="margin-top:20px">-->
                    <div class="draggable" ng-click="readWord2($event.srcElement.innerHTML)" style="z-index: 1; ">
                        <span class="wordName">{{word.name}}</span>
					</div>

				</div>
			</div>
		</div>



	</div>
    <div class="inputBox" data-ng-init="setDroppable()">
        <ul id="items" data-ng-init="setSortable()"></ul>
    </div>
    <div class="play">
        <div ng-click="readSentence()">PLAY</div>
        </br></br>
        <div ng-click="removeSentence()">CLEAR</div>
    </div>
</div>
<!--
<div class="center">
    <h1>Main Menu</h1>
    </br></br>
    <div class="button" ng-click="redirect('word')">Start</div>
    </br>
    <div class="button" ng-click="redirect('splash')">Go to Splash</div>
    </br>
    <div class="button" ng-click="redirect('drag')">Draggable</div>
</div>-->